<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KryptogrAPPia</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> System Polifalfabetyczny
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transpozycja">
                <span aria-hidden="true"></span> System Transpozycyjny
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blokowe_AES">
                <span aria-hidden="true"></span> Szyfrowanie Blokowe - AES
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blokowe_DES">
                <span aria-hidden="true"></span> Szyfrowanie Blokowe - DES
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="strumieniowe_AES">
                <span aria-hidden="true"></span> Szyfrowanie Strumieniowe - AES
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="strumieniowe_DES">
                <span aria-hidden="true"></span> Szyfrowanie Strumieniowe - DES
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span aria-hidden="true"></span> Symulacja protokołu Diffiego-Hellmana
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span aria-hidden="true"></span> Szyfrowanie RSA
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span aria-hidden="true"></span> Certyfikat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span aria-hidden="true"></span> Podpis cyfrowy
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
